<mat-card class="container">
  <app-rid-uploader (ridsLoaded)='ridsLoaded()'></app-rid-uploader>
  <app-rid-verifier></app-rid-verifier>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtra">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc">
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.category | titlecase}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.description}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.date | date: 'yyyy-MM-dd'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Valore </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.amount | currency:'EUR'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Verificato </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        <button mat-icon-button (click)='verify(rid)' color="primary">
          <mat-icon>{{rid.verified ? 'highlight_off' : 'check_circle'}}</mat-icon>
        </button>
        {{rid.verifiedMovement!=='' ? 'Si' : (rid.verified ? 'Si' : 'No')}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verifiedMovement">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data trovata </mat-header-cell>
      <mat-cell *matCellDef="let rid" (click)='fetchMovementDate(rid)'>
        <span *ngIf='rid.verifiedMovement===""'>Non trovato</span>
        <button *ngIf='rid.verifiedMovement!==""' mat-icon-button (click)='fetchMovementDate(rid) ' color="primary">
          <mat-icon>help_circle</mat-icon>
        </button>
        <span>{{rid.verifiedMovementDate ? (rid.verifiedMovementDate | date: 'yyyy-MM-dd ') : ' '}}</span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 50, 100]">
  </mat-paginator>
</mat-card>