<mat-card class="container">
  <app-rid-uploader (ridsLoaded)='ridsLoaded()'></app-rid-uploader>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtra">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc">
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.category}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.description}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.date | date: 'yyyy-MM-dd '}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Valore </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.amount | currency:'EUR'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verified">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Verificato </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        <button mat-icon-button (click)='verify(rid)' color="primary">
          <mat-icon>{{rid.verified ? 'warning' : 'check'}}</mat-icon>
        </button>
        {{rid.verifiedMovement ? rid.verifiedMovement : (rid.verified ? 'Si' : 'No')}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="verifiedMovement">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Data trovata </mat-header-cell>
      <mat-cell *matCellDef="let rid">
        {{rid.verifiedMovement ? (rid.date | date: 'yyyy-MM-dd ') : 'Non trovato'}}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 50, 100]">
  </mat-paginator>
</mat-card>