.container {
  display: flex;
  flex-direction: column;
}
.mat-form-field {
  width: 100%;
}
.mat-cell{
  padding-right: 10px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-row{
  min-height: auto;
}