.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-cell{
  padding-right: 10px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}