<form #categoryForm="ngForm" (ngSubmit)="onSubmit()">

  <div fxLayout='row' fxLayoutWrap>
    <span class='mat-h1' style='margin-right: 30px;'>Invia corrispettivi</span>
    <mat-form-field>
      <input name='amount' matInput type="number" placeholder="Venduto" [(ngModel)]="vat.amount" (keypress)="validateNumberField($event)">
    </mat-form-field>
    <span>
      <button mat-icon-button type='submit' color="primary">
        <mat-icon>note_add</mat-icon>
      </button>
      <button mat-icon-button type='button' (click)='reset()' color="warn">
        <mat-icon>cancel</mat-icon>
      </button>
    </span>
  </div>
  <mat-progress-bar *ngIf='sendingVats' mode="indeterminate"></mat-progress-bar>
</form>
