# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Angular output files
/dist

# Visual studio code settings
/.vscode

# Certificates
/server/certificates

# XML files
/server/signature/*.xml
