<mat-toolbar color="primary">
  <a mat-button routerLink="." class='navbar-main'>Tabak-Manager</a>
  <a mat-button routerLink="movements" class='navbar-item'>Movimenti</a>
  <a mat-button routerLink="items" class='navbar-item'>Articoli</a>
  <a mat-button routerLink="warehouse" class='navbar-item'>Magazzino</a>
  <a mat-button routerLink="orders" class='navbar-item'>Ordini</a>
  <!-- This fills the remaining space of the current row -->
  <span style='flex: 1 1 auto;'></span>
  <!--<a mat-button routerLink="." class='navbar-item'>Ordini</a>-->
</mat-toolbar>
