<mat-toolbar color="primary">
  <a mat-button routerLink="/" class='navbar-main'>
    <img src='/assets/white-logo.png' height='36'>
    <span class='logo-big'>TABAK</span>
    <span class='logo-small'>MANAGER</span>
  </a>
  <a [class.show]='loginObserver | async' mat-button routerLink="movements" class='navbar-item'>CONTABILITA'</a>
  <a [class.show]='loginObserver | async' mat-button routerLink="rids" class='navbar-item'>RID</a>
  <a [class.show]='loginObserver | async' mat-button routerLink="categories" class='navbar-item'>CATEGORIE</a>
  <a [class.show]='loginObserver | async' mat-button routerLink="profits" class='navbar-item'>AGGI</a>
  <a [class.show]='loginObserver | async' mat-button routerLink="vats" class='navbar-item'>CORRISPETTIVI</a>
  <a [class.show]='loginObserver | async' mat-button routerLink="logs" class='navbar-item'>LOG</a>
  <!-- This fills the remaining space of the current row -->
  <span style='flex: 1 1 auto;'></span>
  <a [class.show]='loginObserver | async' mat-button routerLink='/login' class='navbar-item'>LOGOUT</a>
</mat-toolbar>
