.logo-big {
  font-size: 18px;
  padding-left: 8px;
}

.logo-small {
  font-weight: 200;
  font-size: 12px;
  vertical-align: baseline;
}

.navbar-main {
  color: white;
}

.navbar-item {
  color: white;
  font-size: 14px;
  display: none;
  min-width: 0px;
}

.show {
  display: block;
}
