.logo-big{  
  font-size: 24px;
}

.logo-small{  
  font-weight: 200;
  font-size: 16px;
}

.navbar-main {
  color: white;
  line-height: 22px;
}

.navbar-item {
  color: white;
  font-size: 18px;
  display: none;
}

.show{
  display: block;
}
