<mat-card style='max-width: 240px;'>
  <mat-card-content>
    <div *ngIf='slot'>
      <div class='mat-h1'>{{slot._id ? slot.name+' '+slot.position+'°' : 'Nuova Slot'}}</div>
      <form #slotForm="ngForm">
        <div>
          <mat-form-field>
            <input matInput type='text' placeholder="Nome" name='{{slot._id}}_name' [(ngModel)]='slot.name'>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='number' min='1' placeholder="Posizione" name='{{slot._id}}_position' [(ngModel)]='slot.position'>
          </mat-form-field>
          <div style='text-align: center'>Operativa</div>
          <div style='width: 100%; text-align: center; display: inline-block;'>
            <mat-button-toggle-group color="primary" #group="matButtonToggleGroup" [value]="slot.operational.toString()" (change)="operationalChange(group.value)">
              <mat-button-toggle color="primary" value="true">
                Si
              </mat-button-toggle>
              <mat-button-toggle color="primary" value="false">
                No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </form>
      <button *ngIf='!slot._id' mat-button color='primary' (click)='create()'>Crea</button>
      <button *ngIf='slot._id' mat-button color='primary' (click)='edit()'>Modifica</button>
      <button *ngIf='slot._id' mat-button color='warn' (click)='delete()'>Elimina</button>
      <button mat-button color='warn' (click)='reset()'>Annulla</button>
    </div>
    <div *ngIf='!slot'>
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>
