.mat-form-field {
  width: 100%;
}
.log-card{
  width: 330px;
  max-height: 150px;
  margin-bottom: 16px;
  margin-right: 16px;
  overflow-y: hidden;
  padding-bottom: 0px;
  border-bottom: solid 24px rgba(0, 0, 0, 0);
}
.log-card:hover{
  max-height: initial;
}
.log-content{   
  font-size: 12px;
  line-height: 14px;
}