.buttonToggle{
  color: black;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;  
}
.mat-row{
  min-height: auto;
}
.currency-cell{
  text-align: end;
}
.currency-header {
  display: flex;
  justify-content: flex-end;
}
.graphs > *{
  padding-right: 16px;
  padding-bottom: 16px;  
  flex: 1 1 400px;
  min-width: 400px;
  max-width: 700px;
}
