<mat-card>
  <mat-card-content>
    <div fxLayout='row' fxLayoutGap='20px'>
      <span>
        <a *ngFor='let year of years' mat-raised-button [routerLink]="['../', year]" routerLinkActive="mat-primary">{{year}}</a>
      </span>
      <mat-button-toggle-group [(ngModel)]="artGroupToggle" (change)='changedArtGroup($event)'>
        <mat-button-toggle class='buttonToggle' value="profitGroup">
          Gruppo
        </mat-button-toggle>
        <mat-button-toggle class='buttonToggle' value="art">
          Articolo
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group (change)='changedSemester($event)'>
        <mat-button-toggle class='buttonToggle' checked='true' value="1">
          1° semestre
        </mat-button-toggle>
        <mat-button-toggle class='buttonToggle' value="2">
          2° semestre
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gruppo </mat-header-cell>
        <mat-cell *matCellDef="let group">{{group.group | titlecase}}</mat-cell>
      </ng-container>
      <ng-container *ngFor='let period of periods' matColumnDef="{{period}}">
        <mat-header-cell *matHeaderCellDef mat-sort-header class='currency-header'>{{[periodLabels[period-1]]}}</mat-header-cell>
        <mat-cell *matCellDef="let group" class='currency-cell'>{{(group[period] ? group[period] : 0) | currency: 'EUR'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalGroup">
        <mat-header-cell *matHeaderCellDef mat-sort-header class='currency-header'> Totale </mat-header-cell>
        <mat-cell *matCellDef="let group" class='currency-cell'>{{group.totalGroup | currency: 'EUR'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <app-prevision-profit-graph></app-prevision-profit-graph>
    <app-repartition-graph></app-repartition-graph>
    <app-period-profit-graph></app-period-profit-graph>
  </mat-card-content>
</mat-card>
