<mat-toolbar color="primary">
  <a mat-button routerLink="/" class='navbar-main'>Tabak-Manager</a>
  <a *ngIf='loginObserver | async' mat-button routerLink="movements/category/all" class='navbar-item'>Contabilità</a>
  <a *ngIf='loginObserver | async' mat-button routerLink="rid" class='navbar-item'>Rid</a>
  <a *ngIf='loginObserver | async' mat-button routerLink="profit" class='navbar-item'>Aggi</a>
  <!-- This fills the remaining space of the current row -->
  <span style='flex: 1 1 auto;'></span>
  <a *ngIf='loginObserver | async' mat-button routerLink='/login' class='navbar-item'>Logout</a>
</mat-toolbar>