<div fxLayout='row' fxLayoutGap='20px'>
  <app-slot-detail fxFlex='250px'></app-slot-detail>
  <app-slot-list fxFlex='fill'></app-slot-list>
</div>
<div fxLayout='row wrap' fxLayoutAlign='space-between' fxLayoutGap='8px' style='margin-top: 20px; padding-left: 16px; padding-right: 16px;'>
  <div *ngFor='let slot of slotList'>
    <form #reportForm="ngForm">
      <div fxLayout='column'>
        <div class='mat-h3'>{{slot.name}} {{slot.position}}°</div>
        <mat-form-field style='max-width: 120px;'>
          <input matInput type='number' placeholder="Totale In" name='{{slot._id}}_readTotalIn' [(ngModel)]='newSlotReports[slot._id].totalIn'>
        </mat-form-field>
        <mat-form-field style='max-width: 120px;'>
          <input matInput type='number' placeholder="Totale Out" name='{{slot._id}}_readTotalOut' [(ngModel)]='newSlotReports[slot._id].totalOut'>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div fxLayout='column'>
    <div class='mat-h3'>Salva</div>
    <div style='height: 56px;'>
      <button mat-raised-button color='primary' (click)='saveReport()'>Conferma</button>
    </div>
    <mat-form-field>
      <input #date name='date' matInput type="date" placeholder="Data" [ngModel]="reportsDate | date:'yyyy-MM-dd'"
        (ngModelChange)="reportsDate = $event">
    </mat-form-field>
  </div>
</div>
<table class='mat-table'>
  <thead>
    <tr class='mat-header-row'>
      <th class='mat-header-cell'>Data</th>
      <th class='mat-header-cell' *ngFor='let slot of slotList'>{{slot.name}} {{slot.position}}°</th>
      <th class='mat-header-cell'>Guadagno</th>
      <th class='mat-header-cell'>Canc</th>
    </tr>
  </thead>
  <tbody>
    <tr class='mat-row' *ngFor='let dateReports of reportsByDate'>
      <td class='mat-cell'>{{dateReports._id}}</td>
      <td class='mat-cell' *ngFor='let slot of slotList'>
        <div *ngIf='getSlotReport(dateReports.reports, slot._id); let slotDateReport'>
          <span style='color:green'>{{slotDateReport.totalIn}}</span>&nbsp;
          <span style='color:red'>{{slotDateReport.totalOut}}</span>
          <div *ngIf='slotDateReport.negative'>Negativa</div>
        </div>
      </td>
      <td class='mat-cell'>{{dateReports.profit | currency: 'EUR'}}</td>
      <td class='mat-cell'>
        <button mat-icon-button (click)='deleteReports(dateReports.reports)' color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
