<h2 mat-dialog-title>{{data.action}}</h2>
<mat-dialog-content *ngIf='data.object || data.text'>
  <pre *ngIf='data.object'>{{data.object | json}}</pre>
  <span *ngIf='data.text'>{{data.text}}</span>
  <!--<div class='dialog-row'>
    <span class='mat-body-2'>Categoria:</span>
    <span class='spacer'></span>
    {{movement.category | titlecase}}
  </div>
  <div class='dialog-row'>
    <span class='mat-body-2'>Data:</span>
    <span class='spacer'></span>
    {{movement.date | date: 'yyyy-MM-dd'}}
  </div>
  <div class='dialog-row'>
    <span class='mat-body-2'>Valore:</span>
    <span class='spacer'></span>
    {{movement.amount | currency:'EUR'}}
  </div>-->

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" *ngIf='!data.text'>No</button>
  <button mat-button [mat-dialog-close]="true">Ok</button>
</mat-dialog-actions>
