<form #categoryForm="ngForm" (ngSubmit)="onSubmit()">
  <div class='mat-h1'>{{action==='new' ? 'Nuovo' : 'Modifica'}}</div>
  <div fxLayout='row' fxLayoutAlign='space-around' fxLayoutWrap>
    <mat-form-field class='input-text'>
      <input name='name' matInput type="text" placeholder="Nome" [(ngModel)]="category.name">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='pattern' matInput type="text" placeholder="Pattern" [(ngModel)]="category.pattern">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='group' matInput type="text" placeholder="Gruppo logico" [(ngModel)]="category.group">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='profitGroup' matInput type="text" placeholder="Gruppo contabile" [(ngModel)]="category.profitGroup">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='art' matInput type="text" placeholder="Art" [(ngModel)]="category.art">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='rate' matInput type="number" placeholder="Aggio" [(ngModel)]="category.rate" (keypress)="validateNumberField($event)">
    </mat-form-field>
    <mat-form-field class='input-text'>
      <input name='amountToProfit' matInput type="number" placeholder="Moltiplicatore aggio" [(ngModel)]="category.amountToProfit"
        (keypress)="validateNumberField($event)">
    </mat-form-field>

    <span>
      <button class='icon-button' mat-icon-button type='submit' color="primary" [disabled]='category.name===""'>
        <mat-icon class='icon-button'>mode_edit</mat-icon>
      </button>
      <button class='icon-button' mat-icon-button type='button' [routerLink]="['/categories']" color="warn">
        <mat-icon class='icon-button'>cancel</mat-icon>
      </button>
    </span>
  </div>
</form>